.ourObjectivesContainer
{
    background-color: var(--background);
    height: 100%;
    margin-bottom: 100px;

    p
    {
        text-align: left;
    }

    .filler
    {
        padding: 0;
    }

    .row
    {
        margin: 0;
    }

    .ourObjectivesCard
    {
        background-color: var(--background);
        border: 1px solid transparent;
        margin: 50px auto;

        .ourObjectivesBody
        {
            background-color: var(--background);

            .ourObjectivesText
            {
                padding: 10px;

                li
                {
                    margin-bottom: 2rem;
                    font-weight: 600;
                }
            }
        }
    }

    //      OBJECTIVES IMAGE CONTAINER     //
    .ourObjectivesImageContainer
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .ourObjectivesImage
        {
            width: 50%;
        }
    }
}