.memberHead
{
    width: 100vw;

    .row
    {
        margin: 0 !important;
    }

    h1
    {
        color: var(--darkBlue);
        margin: 50px auto;
        padding: 0;
    }
}

.memberRow
{
    width: 100vw;
    margin: 0 auto;

  .col-md-6
  {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    padding: 0;
  }

  .card
  {
      border: 1px solid var(--darkBlue);
      border-radius: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 5px 6px 20px 0 rgba(0, 0, 0, 0.19);

      .card-img-top
      {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
      }

      .card-body
      {
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
      }
  }
}

////        MEDIA QUERIES       ////////////////////////////
/* Galaxy Fold devices (300px and down) */
@media only screen and (max-width: 450px)
{
  .memberRow
  {
    width: 100vw;
    margin: 0 auto !important;

    .col-md-6
    {
        width: 80vw;
    }
  }
}


