.sponsor
{
  padding: 50px 0;
  margin-bottom: 5rem;
    justify-content: center;
  
  .adCard
  {
    padding: 0;
    width: 80vw;
    margin: 3rem auto;

    img
    {
      width: 80vw;
      max-width: 750px;
    }

    .active .carousel-item
    {
      justify-content: center;
    }
  }
}



/////////////////////////////////////////////////
////        MEDIA QUERIES       ////////////////////////////
/// /////////////////////////////////////////////

/*Galaxy Fold ----------- */
@media (min-width: 280px) and (max-width: 320px) 
{
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .adCard, .adCardBody
  {
      width: 80vw;
      margin: 0 auto;
      justify-content: center;

      img
      {
        justify-self: center;
      }
  }
}





