@import "~bootstrap/scss/bootstrap";

//    GENERAL
body
{
  font-family: 'Quicksand';
  font-size: 1.2rem;
  background-color: var(--background) !important;
}

.App 
{
  text-align: center;
}

.spacer
{
  height: 100vh;
}

.container-fluid
{
  padding: 0;
}

.card-body
{
  background-color: var(--background);
}

.btn
{
  background-color: var(--darkOrange);
  color: var(--background);
  margin: 25px auto;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;

  &:hover
  {
    background-color: var(--darkBlue);
    color: var(--background);
  }
}



////    COMPONENTS    //////////////

//    DONATE DIVISION
.donate
{
  background-color: var(--background);
  background-image: url("../Images/Donate/DonateBG.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw !important;
  margin: 0 auto;
  padding: 100px 20px;
}

  //    FACEBOOK DIVISION
.facebook
{
  background-color: var(--darkBlue);
  padding: 20px 0;
  width: 100vw;

  a
  {
    color: var(--background);
    padding: 25px;
    text-decoration: none;

    &:hover
    {
      color: var(--darkOrange);
    }
  }
}




/////////////////////////////////////////////////
////        MEDIA QUERIES       ////////////////////////////
/// /////////////////////////////////////////////

/*Galaxy Fold ----------- */
@media only screen and (min-width: 270px) and (max-width: 330px)
{
  .donate
  {
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    padding: 0;
    margin-bottom: 100px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .donate
  {
    margin-bottom: 100px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .donate
  {
    width: 90vw;
  }

  .adBanner
  {
    width: 90vw;

    .card
    {
      width: 70vw;
    }
  }

  .foot-text
  {
    .footBar
    {
      justify-content: center;
      text-align: center;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .donateCardBody
  {
    .row
    {
      justify-content: center;
    }
  }

  .foot-text
  {
    .footBar
    {
      justify-content: center;
      text-align: center;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .donate
  {
    width: 50vw;
  }
  
  .adBanner, .adBanner > .card
  {
    width: 40vw;
  }

  .foot-text
  {
    .footBar
    {
      justify-content: flex-end;
      text-align: end;
    }
    
  }
}






  

  


