@import "~bootstrap/scss/bootstrap";

//    GENERAL
body
{
  font-family: 'Quicksand';
  font-size: 1.2rem;
}

.App 
{
  text-align: center;
}

.spacer
{
  height: 100vh;
}

.container-fluid
{
  padding: 0;
}

.card-body
{
  background-color: var(--background);
  box-shadow: 7.5px 7.5px 10px var(--shadow);
}

//    HEADER
.bg-esolDarkBlue
{
  background-color: var(--darkBlue);
  box-shadow: 0 3px 10px var(--vDarkBlue);
}

.headBar
{
  padding: 1rem;

  .brand
  {
    color: var(--background);
    font-size: 2rem;
    font-weight: 700;
  }

    .justify-content-end
  {
    justify-content: end;
  }
}

.navbar-nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  a
  {
    margin-right: 10px;
    text-decoration: none;
    background-color: var(--darkBlue);
  }

  .dropdown-menu.show
  {
    width: 200px;
    background-color: var(--darkBlue);
    border: none;
    text-align: center;
  }
}

button.toggle.navbar-toggler
{
  border: none;
}

//    INTRO & REGISTER DIVISIONS
.intro
{
  background-color: var(--lightBlue);
  padding: 25px;

  .row
  {
    display: flex;
    justify-content: center;
  }

  h1
  {
    font-weight: 700;
    color: var(--darkBlue);
    text-shadow: 4px 4px 8px var(--lightBlueShadow);
  }

  b
  {
    color: var(--vDarkBlue);
  }
}

.register
{
  background-color: var(--lightBlue);
  padding: 25px;
}

.bodyText
{
  margin: 30px auto;
}

//    WORKSHOP CAROUSEL
.workshop
{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin: 0 auto;
  padding: 0;
  z-index: 0;
  box-shadow: 10px 10px 20px var(--lightBlueShadow);
  border-radius: 50px;

  .carousel-inner, .carousel-item-start, .carousel-item-next
  {
    border-radius: 50px;
  }
}

.carouselContainer
{
  margin: 4vw auto 2vw;
}

//    SUMMARY TIMETABLE
.summaryTimetable
{
  height: 100px; // TODO - Temporary
  margin: 50px auto;
}

//    DONATE DIVISION
.donate
{
  background-color: var(--lightBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw !important;
  margin: 0 auto;
  padding: 30px 0px;

  .container
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .donateCard
  {
    width: 50vw;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 25%;
    border-top-left-radius: 5px;
    margin: 50px auto;
  }

  .donateCardBody
  {
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 25%;
    border-top-left-radius: 5px;
  }

  h2
  {
    margin: 10px 0;
    font-weight: 700;
    color: var(--vDarkBlue);
  }

  p
  {
    margin: 0;
  }

  .donateButtonContainer
  {
    display: flex;
    justify-content: center;
    align-items: center;

    .donateButton
    {
      background-color: var(--orange);
      color: var(--background);
      margin: 50px auto;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      box-shadow: 5px 5px 10px #777;
    }

    .donateButton:hover
    {
      background-color: var(--lightOrange);
      color: var(--orange);
      box-shadow: 5px 5px 10px #777;
    }
  }
}

  //    FACEBOOK DIVISION
.facebook
{
  background-color: var(--darkBlue);
  color: var(--background);
  padding: 25px;
  box-shadow: 0px 10px 10px #777, 0px -5px 10px var(--lightBlueShadow);
}

.activitiesFacebook
{
  justify-content: center;
  background-color: var(--lightBlue);
  color: #023f8f;
  margin-top: 40px;
  padding: 10px;
}

// AD CAROUSEL
.adBanner
{
  padding: 0;

  .card, .card-body
  {
    border-radius: 15px;
  }
}

.adBanner > .card
{
  width: 55vw;
  padding: 0;
  margin: 50px auto;
}

.adBanner > .card-body
{
  padding: 0 !important;
}

//    REGISTER
.register > .container
{
  margin: 0 auto;
  
  h2
  {
    font-weight: 700;
    color: var(--vDarkBlue);
    margin-top: 50px;
  }

  .donateButton
    {
      background-color: var(--orange);
      color: var(--background);
      margin: 25px auto;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      box-shadow: 5px 5px 10px #777;
    }

    .donateButton:hover
    {
      background-color: var(--lightOrange);
      color: var(--orange);
      box-shadow: 5px 5px 10px #777;
    }
}

//    FOOTER
.footer
{
  .row
  {
    width: 100vw;
  }

  a
  {
    color: var(--vDarkBlue);
    font-weight: 700;
    text-decoration: none;
  }
}

.bg-esolOrange
{
  background-color: var(--orange);
}

////    OTHER PAGES
.page
{
  display: block;
  height: 100%;
}

.spacer
{
  height: 100vh;
}


////        MEDIA QUERIES       ////////////////////////////
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .intro, .register
  {
    h1
    {
      font-size: 10vw;
      font-weight: 700;
    }
  }

  .donate, .adBanner
  {
    .card, .card-body
    {
        width: 80vw;
    }
  }

  .workshop
  {
    width: 400px;
    margin: 0 auto;
  }

  .sidebar
  {
    margin: 0 auto;
  }

  .adBanner > .card
  {
    width: 70vw;
  }

    .register > .container
  {
    width: 90vw;
  }

  .foot-text .footBar
  {
    justify-content: center;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .intro, .register
  {
    h1
    {
      font-size: 8vw;
      font-weight: 700;
    }
  }

  .donate, .adBanner
  {
    width: 90vw;
  }

  .adBanner > .card
  {
    width: 70vw;
  }

  .workshop
  {
    width: 70vw;
  }

  .register > .container
  {
    width: 80vw;
  }

  .foot-text .footBar
  {
    justify-content: center;
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .intro, .register
  {
    h1
    {
      font-size: 7vw;
      font-weight: 700;
    }
  }

  .workshop{
    width: 55vw;
  }

  .register > .container
  {
    width: 70vw;
  }

  .foot-text .footBar
  {
    justify-content: center;
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .intro, .register
  {
    h1
    {
      font-size: 5vw;
      font-weight: 700;
    }
  }

  .donate
  {
    width: 50vw;
  }
  
  .adBanner, .adBanner > .card
  {
    width: 40vw;
  }

  .register > .container
  {
    width: 55vw;
  }

  .foot-text .footBar
  {
    justify-content: flex-end;
    text-align: end;
  }
}


  

  


