.boardHeader
{
    position: sticky;
    top: 100px;
    color: var(--black);
    margin-bottom: 50px;

    &::before, &::after
    {
        background-color: var(--black);
        bottom: 0.125rem;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 40%;
    }
}

.boardContainer
{
  display: block;
  justify-content: center;

  .boardRow
  {
    display: flex;
    justify-content: space-evenly;

    .card
    {
      border: none;
      margin-bottom: 100px;
      background-color: var(--background);

      h4
      {
        color: var(--black);
      }

      .arrow
      {
        width: 2rem;
      }
    }
  }
}

// 

////        MEDIA QUERIES       ////////////////////////////

/*Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 350px) 
{
  .boardHeader
  {
    &::before, &::after
    {
      width: 15%;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) and (max-width: 600px) 
{
  .boardHeader
  {
    &::before, &::after
    {
      width: 22%;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .boardHeader
  {
    &::before, &::after
    {
      width: 35%;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    
} 




