.content
{
  padding: 50px;

  h2
  {
    color: var(--orange);
  }
}

.map-container 
{
  display: flex;
  margin: 0 auto;
  height: 400px;
  width: 75vw;
  max-width: 750px;
  border: 2px solid var(--darkBlue);
  border-radius: 10px;
  box-shadow: 5px 5px 10px #555;
}

.sidebar 
{
  background-color: var(--mapBG);
  color: var(--background);
  padding: 6px 12px;
  font-family: 'Nunito Sans';
  font-size: 0.75rem;
  font-weight: 700;
  z-index: 1;
  position: relative;
  width: 33vw;
  max-width: 750px;
  min-width: 350px;
  height: 40px;
  top: 0;
  left: 0;
  border-radius: 5px;

  span
  {
    color: var(--vDarkBlue);
  }
}