//      MAIN CONTAINER      ////////////////
.friendsContainer
{
    width: 100vw;
    padding: 5rem 0;

    //      PARTNERS GRID       //////////////
    .friendsPartners
    {
        margin: 5rem 0;
        justify-content: center;

        .friendsGrid
        {
            display: grid;

            width: 80vw;
            margin-bottom: 5rem;

            //      Logos
            .logo
            {
                margin-bottom: 2rem;

                img
                {
                    margin: auto;
                    max-width: 15rem;
                }
            }

            //      Links
            .link
            {
                margin-bottom: 5rem;

                h5
                {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: var(--black);

                    &:hover
                    {
                        color: var(--esolBlue);
                    }
                }

                a
                {
                    text-decoration: none;
                }
            }

            //      Letham
            .lethamFC
            {
                img
                {
                    height: 9rem;
                    width: 9rem;
                }
            }
        }
    }
    

    //      STUDENT COMMENTS        ///////////////////////
    .friendsComments
    {
        background-image: url('../Images/FriendsFeedback/TestimonialBG.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 90%;
        padding: 50px;
        margin: 100px auto;
        border-radius: 5px;

        h3
        {
            margin: 20px auto 70px;
            color: var(--background);
            text-align: center;
            font-weight: 700;
        }

        p
        {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid var(--background);
            color: var(--background);
            font-weight: 400;
            text-align: left;
        }
    }
}


//////////////////////////////////////////////
////        MEDIA QUERIES       //////////////////////////
//////////////////////////////////////////////
/* Medium devices (landscape tablets, 660px and up) */
@media only screen and (min-width: 660px) 
{
    .friendsGrid
    {
        grid-template-columns: 10rem 20rem;
        grid-template-rows: repeat(7, 1fr);

        justify-content: center;
        align-items: center;
        margin-bottom: 10rem;
        
        .logo
        {
            grid-column: 1/2;

            justify-content: center;
            margin: auto !important;

            img
            {
                width: 10rem;
            }
        }

        .link
        {
            grid-column: 2/3;
            margin: auto !important;
            width: 20rem;
        }
    }
}


