.headBar
{
  padding: 1rem;
  background-color: var(--background) !important;

    .justify-content-end
  {
    justify-content: end;
  }
}

.navbar-nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  a
  {
    margin-right: 10px;
    text-decoration: none;
    color: var(--black);
    background-color: var(--background);
  }

  .dropdown-menu.show
  {
    width: 200px;
    color: var(--black);
    background-color: var(--background);
    border: none;
    text-align: center;
  }
}

button.toggle.navbar-toggler
{
  border: none;

  :focus
  {
    border: none;
  }
}

.navbar-toggler:focus, button:focus:not(:focus-visible)
{
  outline: none;
  box-shadow: none;
}


////        MEDIA QUERIES       ////////////////////////////
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  img
    {
      width: 50vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  
}





