.bg-esolDarkBlue
{
  background-color: var(--darkBlue);
}

.navbar
{
  padding: 1rem;

  .brand
  {
    color: var(--background);
    font-size: 2rem;
    font-weight: 700;
  }

    .justify-content-end
  {
    justify-content: end;
  }
}

.navbar-nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  a
  {
    margin-right: 10px;
    text-decoration: none;
    background-color: var(--darkBlue);
  }

  .dropdown-menu.show
  {
    width: 200px;
    background-color: var(--darkBlue);
    border: none;
    text-align: center;
  }
}

button.toggle.navbar-toggler
{
  border: none;

  :focus
  {
    border: none;
  }
}


////        MEDIA QUERIES       ////////////////////////////
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  img
    {
      width: 50vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  
}