.historyContainer
{
    background-color: var(--page);

    h1
    {
        font-weight: 700 !important;
        margin: 10px auto !important;
        color: var(--vDarkBlue);
        text-shadow: 4px 4px 8px var(--vDarkBlue);
    }

    p
    {
        text-align: left;
    }

    .historyCard
    {
        background-color: var(--mapBG);
        width: 70vw;
        margin: 100px auto;
        border-radius: 25px;

        .historyBody
        {
            background-color: var(--mapBG);
            border-radius: 25px;

            .historyText
            {
                padding: 10px;
            }
        }
    }

    .historyList
    {
        margin: 100px auto 200px !important;
    }

    .listPara
    {
        display: flex;
        justify-content: center;

        .list
        {
            text-align: left;
        }
    }
}

////        MEDIA QUERIES       ////////////////////////////
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .historyCard
  {
    width: 90vw !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .historyCard
  {
    width: 80vw !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) 
// {
  
// }

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) 
// {
  
// }