:root
{
  --esolBlue: rgb(92, 184, 228);
  --esolBlueTint: rgba(92, 184, 228, 0.5);
  --darkBlue: rgb(45, 91, 113);
  --darkBlueTint: rgba(45, 91, 113, 0.5);
  --darkOrange: rgb(186, 66, 0);
  --background: rgb(255, 248, 243);
  --bgTint: rgba(255, 248, 243, 0.5);
  --black: rgb(40, 40, 40);
  --blackTint: rgba(40, 40, 40, 0.5);

  --bs-primary: rgb(92, 184, 228);
}

body 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--background);

  font-family: -apple-system, BlinkMacSystemFont, 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
