//      GENERAL     ////
.image
{
    display: flex;
    justify-content: center;
    margin: 1rem auto;

    padding: 0 1rem;
    
    img
    {
        width: 100%;
        height: 100%;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75);
    }
}

a
{
    text-decoration: none;
}

//      BEGINNER PAGE       ////
.beginnersContainer
{
    display: grid;
    grid-template-rows: 1fr, repeat(2, 1fr);
    margin: 5rem auto 10rem;

    .red, .orange
    {
        display: grid;
        justify-content: center;
        grid-template-rows: 1fr 4fr 2fr;

        margin: 50px auto 0;
        width: 90vw;
        max-width: 400px;
    }

    .redHead, .orangeHead
    {
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 700;
        padding: 0;
    }

    .redHead
    {
        color: rgb(190, 36, 46);
    }

    .redLink
    {
        text-decoration: none;
        color: var(--black);

        &:hover
        {
            color: rgb(190, 36, 46);
        }
    }

    .orangeHead
    {
        color: rgb(209, 112, 24);
    }

    .orangeLink
    {
        text-decoration: none;
        color: var(--black);

        &:hover
        {
            color: rgb(209, 112, 24);
        }
    }

    .redBody, .orangeBody
    {
        padding: 1rem;
        font-weight: 500;
    }
}

//      OTHER PAGES        ////
.lessonsContainer
{
    margin-top: 50px;

    .poster
    {
        display: grid;
        justify-content: center;
        grid-template-rows: 1fr 4fr 3fr;

        margin: 50px auto;
        width: 90vw;
        max-width: 400px;

        .posterBody
        {
            padding: 1rem;
            font-weight: 500;
        }
        
        .greenHead
        {
            color: rgb(162, 189, 39);
            font-weight: 700;
        }

        .blueHead
        {
            color: rgb(23, 154, 208);
            font-weight: 700;
        }

        .intermediateLink
        {
            text-decoration: none;
            color: var(--black);

            &:hover
            {
                color: rgb(162, 189, 39);
            }
        }

        .advancedLink
        {
            text-decoration: none;
            color: var(--black);

            &:hover
            {
                color: rgb(23, 154, 208);
            }
        }
    }

    .ielts
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 125px 350px 2fr 1fr;

        margin: 50px auto;
        width: 90vw;
        max-width: 450px;

        .ieltsHead
        {
            grid-row: 1/2;
            color: var(--darkBlue);
            font-weight: 700;
            color: rgb(29, 22, 100);
        }

        a
        {
            text-decoration: none;
            color: rgb(0, 0, 0);

            &:hover
            {
                color: rgb(29, 22, 100);
            }
        }

        h5
        {
            margin-bottom: 2rem;
        }

        .ieltsImage
        {
            grid-row: 2/3;
        }

        .ieltsBody
        {
            grid-row: 3/4;
        }

        .ieltsPS
        {
            grid-row: 4/5;
            font-style: italic;

            span
            {
                font-weight: 600;
                color: var(--darkBlue);
            }
        }
    }
}

//      ADVANCED        ////
.advancedContainer
{
    margin-top: 50px;

    .blue
    {
        display: grid;
        justify-content: center;
        grid-template-rows: 1fr 4fr 3fr;

        margin: 50px auto;
        width: 90vw;
        max-width: 400px;

        .blueHead
        {
            color: rgba(0, 0, 255, 1);
            font-weight: 700;
        }

        .blueBody
        {
            padding: 1rem;
            font-weight: 500;
        }
    }
}



////////////////////////////////////////////////
//      MEDIA QUERIES       /////////
///////////////////////////////////////////////
//      MIN-WIDTH: 300PX        //
@media only screen and (min-width: 300px)
{
    .ielts
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 125px 475px 2fr 1fr !important;
    }
}

//      MIN-WIDTH: 500PX        //
@media only screen and (min-width: 500px)
{
    .ielts
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 125px 600px 2fr 1fr !important;
    }
}

//      MIN-WIDTH: 820PX        //
@media only screen and (min-width: 820px)
{
    .beginnersContainer
    {
        grid-template-rows: 1;
        grid-template-columns: repeat(2, 1fr);

        .beginHead
        {
            grid-column: 1/3;
        }

        .red
        {
            grid-column: 1/2;
        }

        .orange
        {
            grid-column: 2/3;
        }
    }

    .ielts
    {
        .image
        {
            margin-bottom: 3em;
        }
    }
}




