.modal-header
{
//   display: flex !important;
  justify-content: space-evenly !important;
  text-align: center;

  .modal-title
  {
    margin: auto;

    .title
    {
      color: var(--darkBlue);
      font-weight: 700;
    }
  }
}