.summary
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .summaryContainer
  {
    width: 50vw;
    margin: 50px auto 200px;

    .summaryCardTitle
    {
      border: 1px solid var(--darkBlue);
      background-color: var(--esolBlue);

      h2
      {
        color: var(--black);
        margin: 20px;
        font-size: 2.5rem;
        font-weight: 900;
        color: var(--background);
      }
    }

    .contentRow
    {
      border: 1px solid var(--darkBlue);

      //    Time    //
      .time
      {
        border: 1px solid var(--darkBlue);
        font-weight: 700;
        color: var(--black);
        
        span
        {
          padding: 10px;
        }
      }

      //    Activities      //
      .activity
      {
        color: var(--black);
        margin: 20px;
        
        span
        {
          padding: 10px;
        }
      }
    }
  }



  ////        MEDIA QUERIES       ////////////////////////////
  /* Galaxy Fold devices (300px and down) */
  @media only screen and (min-width: 270px) and (max-width: 330px)
  {
    
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) 
  {
    .summaryContainer
    {
      width: 90vw;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) 
  {
    .summaryContainer
    {
      width: 90vw;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) 
  {
    .summaryContainer
    {
      width: 90vw;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) 
  {
    .summaryContainer
    {
      width: 70vw;
    }
  }
}


