#season
{
    position: relative;
    margin: 0 10px;
    margin-top: 50px !important;
    font-family: 'Nunito Sans';
    font-weight: 900;
    text-align: center;
    text-shadow: 4px 4px 8px var(--mapBG);
}

//      WEEKDAY BUTTONS     //////////////
.timetableHead
{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 50px auto;

    .btn
    {
        background-color: var(--darkBlue);
        font-weight: 600;
        text-align: center;
        padding: 10px 3px;
        border: 1px solid var(--orange);
        border-radius: 10px;
        width: 14.3%;
        box-shadow: 4px 4px 8px 0 var(--mapBG);
    }

    .btn:hover
    {
        background-color: var(--lightBlue);
        border: none;
        color: var(--orange);
    }
}


//      CONTENT     //////////////////////
.timetableContainer
{
    width: 75vw;
    margin: 50px auto;
    background-color: var(--darkBlue) !important;
    box-shadow: 8px 5px 8px 0 var(--mapBG);
    padding: 10px 10px 20px;
    border: 1px solid var(--orange) !important;
    border-radius: 25px !important;

    .card-body
    {
        background-color: var(--lightBlue);
        border-radius: 10px !important;
        border: 1px solid var(--orange);
    }

    h2
    {
        color: rgb(255, 255, 255);
        margin: 20px;
        font-size: 2.5rem;
        font-family: 'Nunito Sans';
        font-weight: 900;
    }

    //      Time of Day     //
    .time
    {
        font-weight: 700;

        .row
        {
            text-align: left;
            height: 75px;
            padding: 10px 0 0 10px;
            border: 1px solid var(--orange);
        }

        .TLbox
        {
            border-top-left-radius: 10px;
        }

        .BLbox
        {
            border-bottom-left-radius: 10px;
        }
    }

    //      Activities      //
    .activity
    {
       .row
        {
            text-align: left;
            height: 75px;
            padding: 10px 0 0 10px;
            border: 1px solid var(--orange);
        }

        .lunch
        {
            font-weight: 700;
        }

        .TRbox
        {
            border-top-right-radius: 10px;
        }

        .BRbox
        {
            border-bottom-right-radius: 10px !important;
        }
    }
}


////        MEDIA QUERIES       ////////////////////////////
/* Galaxy Fold devices (300px and down) */
@media only screen and (max-width: 300px)
{
  .activity
  {
    font-size: 4vw;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .timetableHead > .btn
  {
    font-size: 3vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 6vw;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .timetableHead > .btn
  {
    font-size: 2.5vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 5vw;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .timetableHead > .btn
  {
    font-size: 2vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 4vw;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .timetableHead > .btn
  {
    font-size: 1.5vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 3vw;
    }
  }
}


