.season
{
    position: relative;
    margin: 50px 10px 0 !important;
    font-weight: 700;
    text-align: center;
    text-shadow: 4px 4px 8px var(--vDarkBlue);
    color: var(--vDarkBlue);
}

//      WEEKDAY BUTTONS     //////////////
.timetableHead
{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 50px auto;

    .btn
    {
        background-color: var(--darkBlue);
        color: var(--page);
        font-weight: 600;
        text-align: center;
        text-shadow: 3px 3px 2px var(--vDarkBlue);
        padding: 10px 3px;
        border: 1px solid var(--vDarkBlue);
        border-radius: 10px;
        width: 14.3%;
        box-shadow: 4px 4px 8px 0 var(--vDarkBlue);
    }

    .btn:hover
    {
        background-color: var(--lightBlue);
        border: none;
        color: var(--vDarkBlue);
    }
}


//      CONTENT     //////////////////////
.timetableContainer
{
    width: 75vw;
    margin: 50px auto;
    background-color: var(--mapBG) !important;
    box-shadow: 8px 5px 8px 0 var(--mapBG);
    border: 1px solid var(--vDarkBlue) !important;
    border-radius: 25px !important;

    .timetableCardTitle
    {
      border: 1px solid var(--vDarkBlue);
      border-radius: 25px 25px 10px 10px;
      background-color: rgba(0, 0, 0, 0.25);
      color: var(--background);
    }

    .timetableCardBody
    {
        background-color: var(--mapBG) !important;
        border-radius: 25px !important;
        border: 1px solid var(--vDarkBlue);
    }

    h2
    {
        color: var(--page);
        margin: 20px;
        font-size: 2.5rem;
        font-weight: 900;
        text-shadow: 5px 5px 3px var(--vDarkBlue);
    }

    //      Time of Day     //
    .time
    {
        font-weight: 700;
        color: var(--page);


        .row
        {
          text-align: left;
          height: 75px;
          padding: 10px 0 0 10px;
          border: 1px solid var(--vDarkBlue);
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          background-color: rgba(0, 0, 0, 0.25);
        }

        .TLbox
        {
            border-top-left-radius: 10px;
        }

        .BLbox
        {
            border-bottom-left-radius: 25px;
        }
    }

    //      Activities      //
    .activity
    {
      color: var(--page);
      // border-top-right-radius: 10px;
      // border-bottom-right-radius: 10px;
      
       .row
        {
          text-align: left;
          height: 75px;
          padding: 10px 0 0 10px;
          border: 1px solid var(--vDarkBlue);
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          background-color: rgba(0, 0, 0, 0.25);
        }

        .lunch
        {
            font-weight: 700;
        }

        .TRbox
        {
            border-top-right-radius: 10px;
        }

        .BRbox
        {
            border-bottom-right-radius: 25px;
        }
    }
}



////        MEDIA QUERIES       ////////////////////////////
/* Galaxy Fold devices (300px and down) */
@media only screen and (max-width: 300px)
{
  .time
  {
    .row
    {
      span, b
      {
        font-size: 14px !important;
      }
    }

  }

  .activity
  {
    .row
    {
      span, b
      {
        font-size: 14px !important;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .activity
  {
    .row
    {
      span
      {
        font-size: 12px !important;
      }
    }
  }

  .timetableHead > .btn
  {
    font-size: 3vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 6vw;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .timetableHead > .btn
  {
    font-size: 2.5vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 5vw;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .timetableHead > .btn
  {
    font-size: 2vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 4vw;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .timetableHead > .btn
  {
    font-size: 1.5vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 3vw;
    }
  }
}


