h1
{
    position: relative;
    margin-top: 50px !important;
    font-family: 'Segoe UI';
    font-weight: 700;
    text-align: center;
}

//      WEEKDAY BUTTONS     //////////////
.timetableHead
{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 75vw;
    margin: 50px auto;

    .btn
    {
        background-color: var(--darkBlue);
        border: 1px solid var(--darkBlue);
    }

    .btn:hover
    {
        background-color: var(--lightBlue);
        border: 1px solid var(--lightBlue);
        color: var(--orange);
    }
}


//      CONTENT     //////////////////////
.timetableContainer
{
    width: 75vw;
    margin: 50px auto;
    background-color: var(--darkBlue) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 5px 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 10px 20px;

    .card-body
    {
        background-color: var(--lightBlue) !important;
    }

    h2
    {
        color: rgb(255, 255, 255);
    }

    //      Time of Day     //
    .time
    {
        font-weight: 700;

        .row
        {
            // font-size: 3vw;
            height: 75px;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

    //      Activities      //
    .activity
    {
        .row
        {
            // font-size: 3vw;
            height: 75px;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.3);
        }

        .lunch
        {
            font-weight: 700;
        }
    }

    
}


