//      TITLE
.introTitle
{
    padding: 50px;

    h1
    {
    font-weight: 700;
    font-stretch: extra-expanded;
    color: var(--vDarkBlue);
    text-shadow: 3px 3px 9px var(--vDarkBlue);
    }
}

//      INTRODUCTION
.introHeader
{
    padding-bottom: 100px;

    .introCol
    {
        font-weight: 600;
        font-stretch: extra-expanded;
        text-align: left;
        margin: auto 10px;
        color: var(--darkBlue);
        text-shadow: 3px 3px 9px var(--vDarkBlue);
    }

    .introCardCol
    {
        display: flex;
        justify-content: center;

        .introCard, .introCardBody
        {
            background-color: var(--mapBG);
            color: var(--page);
            width: 175px;
            border: 1px solid var(--page);
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            box-shadow: 5px 5px 10px var(--shadow);
        }
    }
}

//      TUTORS CARD
.tutorCard
{
    margin: 0 0 100px !important;
    background-color: var(--mapBG) !important;
    border: 2px solid var(--vDarkBlue) !important;
    border-radius: 30px !important;
}

.tutorBox
{
    color: var(--background);
    background-color: var(--blackTint) !important;
    border-radius: 30px !important;
    margin: 10px;

    h4
    {
        margin: 10px auto 20px;
        font-weight: 700;
    }

    p
    {
        margin: 5px auto;
    }
    
    li
    {
    text-align: center;
        list-style: none;
    }
}


