.season
{
    position: relative;
    margin: 50px 10px 0 !important;
    font-weight: 700;
    text-align: center;
    color: var(--darkBlue);
}

//      WEEKDAY BUTTONS     //////////////
.timetableHead
{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 50px auto;

    .btn
    {
        background-color: var(--darkBlue);
        color: var(--page);
        font-weight: 600;
        text-align: center;
        padding: 10px 3px;
        border: 1px solid var(--darkBlue);
        width: 14.3%;
    }

    .btn:hover
    {
        background-color: var(--lightBlue);
        border: none;
        color: var(--darkBlue);
    }
}


//      CONTENT     //////////////////////
.timetableContainer
{
  width: 75vw;
  margin: 50px auto;
  background-color: var(--esolBlue) !important;
  border: 1px solid var(--darkBlue) !important;

  .timetableCardTitle
  {
    border: 1px solid var(--darkBlue);
    background-color: var(--esolBlue);
    color: var(--background);
  }

  h2
  {
      color: var(--black);
      margin: 20px;
      font-size: 2.5rem;
      font-weight: 900;
  }

  .contentRow
  {
        // width: 100vw;

    //      Time of Day     //
    .time
    {
        font-weight: 700;
        color: var(--black);


        .row
        {
          text-align: left;
          height: 75px;
          padding: 10px 0 0 10px;
        }
    }

    //      Activities      //
    .activity
    {
      color: var(--black);
      width: 50vw;
      
      .row
      {
        text-align: left;
        height: 75px;
        padding: 10px 0 0 10px;
      }

      .lunch
      {
          font-weight: 700;
      }
    }
  }
}



////        MEDIA QUERIES       ////////////////////////////
/* Galaxy Fold devices (300px and down) */
@media only screen and (max-width: 300px)
{
  .time
  {
    .row
    {
      span, b
      {
        font-size: 14px !important;
      }
    }

  }

  .activity
  {
    .row
    {
      span, b
      {
        font-size: 14px !important;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .activity
  {
    .row
    {
      span
      {
        font-size: 12px !important;
      }
    }
  }

  .timetableHead > .btn
  {
    font-size: 3vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 6vw;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .timetableHead > .btn
  {
    font-size: 2.5vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 5vw;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .timetableHead > .btn
  {
    font-size: 2vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 4vw;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .timetableHead > .btn
  {
    font-size: 1.5vw;
  }

  .timetableContainer
  {
    h2
    {
      font-size: 3vw;
    }
  }
}


