//    TUTOR PAGE    //////////////////////
//      Title
.introTitle
{
    padding: 50px;

    h1
    {
    font-weight: 700;
    font-stretch: extra-expanded;
    color: var(--darkBlue);
    }
}

//      Introduction
.introHeader
{
    width: 75vw !important;
    padding-bottom: 100px;

    .introCol
    {
        font-weight: 600;
        font-stretch: extra-expanded;
        text-align: left;
        margin: auto 10px;
        color: var(--darkBlue);
    }

    .introCardCol
    {
        display: flex;
        justify-content: right;

        .introCard, .introCardBody
        {
            background-color: var(--esolBlue);
            color: var(--background);
            width: 200px;
            border: 1px solid var(--background);
        }
    }
}

//    Tutor Cards
.tutorBox
{
    color: var(--background);
    background-color: rgba(0, 0, 0, 0.25) !important;
    border: 1px solid var(--darkBlue) !important;
    margin: 10px;

    h3, h4
    {
        color: var(--page);
        margin: 10px auto 20px;
        font-weight: 700;
    }

    p
    {
        margin: 5px auto;
    }
    
    li
    {
        text-align: center;
        list-style: none;
    }
}


////        MEDIA QUERIES       ////////////////////////////
/* Galaxy Fold devices (300px and down) */
@media only screen and (max-width: 300px)
{
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .introCardCol
  {
    margin-top: 50px !important;
  }

  .timetableContainer
  {
    width: 90vw;
    margin: 30px auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  
}


